* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Navigation
----------------------------------------------------
 */

nav {
    background-color: #f7f7f7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.navbar > a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 1%;
}
.navbar > a:hover {
    color: #fe0b0b;
}
.navbar {
    width: 66%;
    margin: 0 auto;
    padding: 20px;
    border-top: 3px solid red;
}
#logo {
    width: 100px;
    padding-right: 10px;
    padding-left: 10px;
}
#search {
    width: 20px;
    float: right;
    padding-top: 7px;
}

/* End Navigation
----------------------------------------------------
 */


/* Heading text
-----------------------------------------------
 */

header {
    display: block;
    margin-top: 100px;
    margin-bottom: 30px;
}
.head-text {
    margin: 0 0 0 0 !important;
    color: #4a4a4a;
    text-align: center;
}

/* Heading text
-----------------------------------------------
*/


/* Main content area
-----------------------------------------------
*/

main {
    display: flex;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 20px;
}
.content-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 66%;
}
.content-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 34%;
}
.pic-1 {
    margin: 5px 0px 5px 1px;
}
.pic-2 {
    margin: 5px 0px 5px 1px;
}
.pic-3 {
    margin: 5px 0px 5px 1px;
}
.content-2 > img {
    margin: 5px 5px 5px 5px;
}

/* End Main Content Area
-------------------------------
*/


/*
Footer style
---------------------------------
 */

footer {
    width: 66%;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.col-span-1 > h3 {
    margin: 0 0 10px 0 !important;
    color: #fe0b0b;
}
.col-span-1 {
    font-size: 14px;
}
.col-span-3 > h3 {
    display: block;
    margin: 0 0 10px 0 !important;
    color: #2f2f2f;
}
.column {
    display: flex;
    width: 100%;
    margin: 0 auto;
}
.text-split {
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
    font-size: 14px;
    font-family: Helvetica;
}
.col-span-1 {
    float: left;
    width: 30%;
}
.col-span-3 {
    float: left;
    width: 70%;
}
